@media screen and (max-width:415px) {
    .remove_colon {
        display: none !important;
    }
}

.thumb-img.active-thumb,
.thumb-img:hover {
    outline: 3px solid #007bff;
    outline-offset: 2px;
}